@import 'src/scss/vars';
@import 'src/scss/mixins';

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        &__title {
        @include text($ff, 700, 3.6rem, 4.9rem, $text);
        text-align: center;
        letter-spacing: -0.5px;
        margin-bottom: 2.4rem;
	}
	&__desc {
        max-width: 52.1rem;
        @include text($ff, 600, 2.6rem, 3.8rem, $footer);
        text-align: center;
        letter-spacing: -0.5px;
        margin-bottom: 4.8rem;
	}
	&__btn {
        margin-bottom: 12.4rem;
	}
}