@import 'src/scss/vars';
@import 'src/scss/mixins';

.solution {
    display: block;
    align-items: center;
    margin-bottom: 21.6rem;
	&__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 21.6rem;
        gap: 13rem;
        @include tablet-small {
            gap: 5rem;
          }
	}
	&__title {
        @include text($ff, 700, 1.6rem, 1.6rem, $text);
        letter-spacing: 2px;
        text-transform: uppercase;
        opacity: 0.7;
        margin-bottom: 1.2rem;
	}
	&__desc {
        @include text($ff, 700, 3.2rem, 5.4rem, $white);
        letter-spacing: -0.5px;
        max-width: 61.2rem;
	}
}

.solution__item:nth-child(even) .solution__text {
    order: 1;
}

.solution__item:nth-child(even) .solution__image {
    order: 2;
}