*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    max-width: 144rem;
    margin-inline: auto;
    overflow-x: hidden;
    @include desktop-small {
        font-size: 9px;
    }
    @include tablet {
        font-size: 8px;
    }
    @include tablet-small {
        font-size: 7px;
    }
    @include mobile {
        font-size: 6px;
    }
}

body {
    margin: 0;
    font-family: $ff;
    background: $bg;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 128.8rem;
    margin-inline: auto;
    padding: 0 2rem;
    @include desktop-small {
       // padding: 0 2rem;
    }
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    align-items: center;
	border: 0;
	outline: 0;
	cursor: pointer;
    background: $bgBtn;
    border-radius: 4px;
    padding: 1.6rem 4.8rem;
    gap: 1.6rem;
    @include text($ff, 600, 1.8rem, 2.5rem, $white);
}

.title {
    @include text($ff, 700, 3.6rem, 4.9rem, $text);
    text-align: center;
    letter-spacing: -0.5px;
    margin-bottom: 6.5rem;
}
img {
    width: 100%;
}

html .carousel .control-prev.control-arrow {
    left: 1.2rem;
}
html .carousel .control-next.control-arrow {
    right: 1.2rem;
}